/* You can add global styles to this file, and also import other style files */
html, body {
    height: 80% !important;
}

#wrapper {
    max-width: 600px;
    margin: 0 auto;
}

h1 {
    color: #66D37E;
}

app-root {
    margin: 2em;
}
